@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


$colors: (

  firstcolor: rgb(43, 67, 204),
  secondcolor: rgb(189, 0, 104),
  thirdcolor: red,
  fontcolor:#5e5e5e,
  white: #fff,
  lightgray: lightgray,

);

@function  color($color-name){
  @return map-get($colors, $color-name)
}

$borders: 10px;
$shadows: 0px 9px 5px 0px rgba(0,0,0,0.11);
$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) { 
   @content;

}
}

a {
  text-decoration: none;
  color: white;
}

body {

  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .bg  {

    clip-path: polygon(100% 0, 100% 79%, 52% 100%, 0 99%, 0 0);
    background-color: color(firstcolor);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;

    @include desktop {
      clip-path: polygon(78% 0, 52% 100%, 0 99%, 0 0)

    }
  }

  header {

    height: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
  

  header a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
}

  main {

    @include desktop {
      display: grid;
      grid-template-columns: 50% auto;
      grid-template-areas: 
            "primary card" ;
    }

    section#card {
      background: color(white);
      padding: 20px;
      width: 80%;
      height: auto;
      margin: auto;
      border-radius: $borders;
      box-shadow: $shadows;

      @include desktop {
        grid-area: card;
        height: fit-content;
        align-self: center;
        margin: 1em;
      }
    
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  
      li {
  
        margin-bottom: 20px;
    
        span {
    
          position: absolute;
          content: '';
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: color(lightgray);
          margin-right: 10px;
        }
    
        strong {
  
          display: inline-block;
          color: color(fontcolor);
          margin-left: max(40px);
          margin-top: 6px;
  
        }
      }
    }
  }
    
    section#primary{
      color: white;
      padding: 20px;
      text-align: center;

      @include desktop {
        grid-area: primary;
        text-align: left;
         margin: 4em 0 0 4em ;
      }

      h1 {
        font-size: 3em;
        text-transform: uppercase;

      }

      p {
        font-size: 1.4em;
      }

      a {

        color: color(white);
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        background-color: color(secondcolor);
        padding: 20px 40px;
        display: block;
        margin: 50px auto 0 auto;
        border-radius: $borders;


        &:hover {

          background-color: rgb(255, 100, 255);
        }

        @include desktop {
          width: 40%;
          margin: 50px auto 0 0;
          padding: 20px 0px;
          
        }
      }

    }
  }
}



